#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin: 5% 5% 5% 5%
}

#neko {
    width: 280px;
    height: 280px
}

#canvas {
    display: none;
}
